[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body{
    padding:0px;
    margin:0px;
}

.column{
    margin: 3px;
    display: flex;
    justify-content: flex-start;
    padding: 3px;
}

.column.middle{
  background-color: #6A7495;
}

.column.side{
  background-color: #958B6A;
}

.row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin : 0px;
    padding: 0px;
}

.tab{
    cursor: pointer;
    padding: 10px;
}

.tab.active{
    background-color: #B2B8C9;
}

.tab:hover{
    background-color: #606A87;
}

.tab-content{
    margin-left: 20px;
    margin-right: 20px;
}
